<%- include('partials/header.ejs') %>

    <body>
        <header>
            <h1>Software Development Life Cycle</h1>        
        </header>
<%- include('partials/nav.ejs') %>

        <br>
        <main>
            <h2>The Six Layers of Software Development Life Cycle</h2>
            <div id="LayersContent">
                <br>
                <p><strong>1. Planning:</strong> This is the first step in the SDLC process, where the project goals, scope, and requirements are defined. It involves gathering information, analyzing feasibility, and creating a project plan.</p>
                <br>
                <p><strong>2. Design:</strong> In this phase, the system architecture and design specifications are created based on the requirements gathered in the planning phase. It involves creating models, diagrams, and prototypes to visualize the system.</p>
                <br>
                <p><strong>3. Implementation:</strong> This phase involves the actual coding and development of the software based on the design specifications.</p>
                <br>
                <p><strong>4. Testing:</strong> In this phase, the software is tested to ensure it meets the requirements and functions as expected. This includes unit testing, integration testing, and system testing.</p>
                <br>
                <p><strong>5. Deployment:</strong> This phase involves releasing the software to the end users or customers. It includes installing the software, configuring it for the production environment, and providing training if necessary.</p>
                <br>
                <p><strong>6. Maintenance:</strong> After deployment, the software requires ongoing maintenance to fix bugs, apply updates, and make improvements based on user feedback.</p>
            </div>
        </main>
<%- include('partials/footer.ejs') %>
    </body>
</html>
