<%- include('partials/header.ejs') %>
    <body>
        <header>
            <h1>Software Development Life Cycle</h1>        
        </header>
<%- include('partials/nav.ejs') %>
        <br>
        <main>
            <h2>Sources</h2>
            <div id="sourcesContent">
                <p>
                    Here are the sources for the information presented on this website:
                </p>
                <ul>
                    <li>Source 1: <a href="https://www.atlassian.com/software-development">Software Development</a></li>
                    <li>Source 2: <a href="https://agilealliance.org/agile101/">What is Agile?</a></li>
                    <li>Source 3: <a href="https://www.tutorialspoint.com/sdlc/sdlc_waterfall_model.htm">SDLC - Waterfall Model</a></li>
                    <li>Source 4: <a href="https://scrumguides.org/scrum-guide.html">The 2020 Scrum Guide</a></li>
                    <li>Source 5: <a href="https://businessmap.io/kanban-resources/getting-started/what-is-kanban">What is Kanban? ...</a></li>
                    <li>Source 6: <a href="https://aws.amazon.com/devops/what-is-devops/">What is DevOps?</a></li>
                </ul>
            </div>
        </main>
<%- include('partials/footer.ejs') %>

    </body>
</html>
